[user]
	email = ferreira.eduardo@pucpr.edu.br
	name = Eduardo Ferreira
[alias]
	# Shortening aliases
	co = checkout
	cob = checkout -b
	f = fetch -p
	c = commit
	p = push
	ba = branch -a
	bd = branch -d
	bD = branch -D
	dc = diff --cached
	s = status

	# Feature improving aliases
	st = status -sb
	a = add -A

	# Complex aliases
	plog = log --graph --pretty='format:%C(red)%d%C(reset) %C(yellow)%h%C(reset) %ar %C(green)%aN%C(reset) %s'
	tlog = log --stat --since='1 Day Ago' --graph --pretty=oneline --abbrev-commit --date=relative
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit:

	hist = log --oneline --decorate --graph --all
	pl = log --pretty=format:'%C(red)%h%C(reset) - %C(yellow)%an%C(reset) [%C(blue)%ar%C(reset)] %s'
	glog = log -E -i --grep
	car = commit --amend --no-edit
	df = diff --word-diff --color-words
	ctags = !.git/hooks/ctags
	asm = !git add -A && git commit -sm
	cleanAll = clean -df
	untrack = rm -r --cached
	pm = push origin master

